
  <!-- Preloader -->
  <div id="preloader" class="smooth-loader-wrapper">
    <div class="smooth-loader">
        <div class="loader1">
            <div class="loader-target">
                <div class="loader-target-main"></div>
                <div class="loader-target-inner"></div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">
  <!-- HEADER -->
  <header id="pageTop" class="header">

    <!-- TOP INFO BAR -->

    <div class="nav-wrapper navbarWhite">
      <!-- NAVBAR -->
      <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index-2.html">
                <img src="../../../assets/img/log_cancha.png" alt="">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active dropdown singleDrop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a [routerLink]="['']" class="nav-link">Inicio</a></li>
                    <!-- <li><a class="" href="index-3.html">Locales</a></li> -->
                    <li><a [routerLink]="['/lista']" class="nav-link">Locales</a></li>
                    <li><a [routerLink]="['/concurridos']" class="nav-link">Mas concurridos</a></li>
                    <li><a [routerLink]="['/reservas']" class="nav-link">Todas las reservas</a></li>
                  </ul>
                </li>
                <li class=" dropdown megaDropMenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locales <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="row dropdown-menu">
                    <!-- <li class="col-sm-4 col-xs-12">
                      <ul class="list-unstyled">
                        <li class="list-item-heading">Grid Layout</li>
                        <li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="listing-grid-fullwidth.html">Fullwidth</a></li>
                      </ul>
                      <ul class="list-unstyled">
                        <li class="list-item-heading">List Layout</li>
                        <li><a href="listing-list-right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="listing-list-left-sidebar.html">left Sidebar</a></li>
                        <li><a href="listing-list-fullwidth.html">Fullwidth</a></li>
                      </ul>
                    </li> -->
                    <li class="col-sm-6 col-xs-12">
                      <ul class="list-unstyled">
                        <li class="list-item-heading">Ubica tu local favorito</li>
                        <li><a href="listings-half-screen-map-list.html">Local por local</a></li>
                        <li><a href="listings-half-screen-map-grid.html">Todas los locales</a></li>
                      </ul>
                      <ul class="list-unstyled">
                        <li class="list-item-heading">Informacion de locales</li>
                        <li><a href="listing-details-full.html">Locales</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-6 col-xs-12">
                      <ul class="list-unstyled">
                        <li class="mega-img">
                          <a href="#"><img src="assets/img/works/works-big-3.png" alt="Image"></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown singleDrop">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mas <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="contact-us.html">Contactanos</a></li>
                    <li><a href="terms-of-services.html">Terminos y Condiciones</a></li>
                    <li><a href="pricing-table.html">Precios</a></li>
                    <li><a href="payment-process.html">Forma de Pago</a></li>
                    <li><a href="how-it-works.html">Como Trabajamos</a></li>
                    <li><a href="user-profile.html">Perfiles de Usuario</a></li>
                    <li><a href="comming-soon.html">Proximamente</a></li>
                  </ul>
                </li>
                <!-- <li class=""><a href="blog.html">blog </a></li> -->
                <li class=" dropdown singleDrop">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="dashboard.html">Tablero</a></li>
                    <li><a href="add-listings.html">Nuevo Local</a></li>
                    <li><a href="edit-listings.html">Editar Local</a></li>
                    <li><a href="booking-list.html">Lista Reservas</a></li>
                    <li><a href="dashboard-reviews.html">Opiniones</a></li>
                    <li><a href="listings.html">Mis Locales</a></li>
                    <li><a href="profile.html">Mi Perfil</a></li>
                    <li><a href="oders.html">My Orders</a></li>
                    <li><a href="sign-up.html">Crear Cuenta</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="index-2.html">Log Out</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <a class="btn btn-default navbar-btn" [routerLink]="['/nueva-reserva']"> + <span>Reserva</span></a>
          <!-- <a [routerLink]="['/lista']" class="nav-link">Locales</a> -->
        </div>
      </nav>
    </div>
  </header>
</div>
<div>
    <router-outlet></router-outlet>

</div>
